/* * z-index */
zNav = 1000
zAside = 2000
zDialog = 8000
zModal = 9000
// ios
/* * COLOR */
cIred = rgb(255, 59, 48)
cIorange = rgb(255, 149, 48)
cIyellow = rgb(255, 204, 0)
cIgreen = rgb(76, 217, 100)
cItealBlue = rgb(90, 200, 250)
cIblue = rgb(0, 122, 255)
cIpurple = rgb(88, 86, 214)
cIpink = rgb(255, 45, 85)
// collect material color

// element-ui
// cPrimary = #20a0ff
// cSuccess = #13CE66
// cDanger = #FF4949
// cWarning = #F7BA2A
// cLightBlue = #58B7FF
// cDarkBlue = #1D8CE0

// giants
cLinkedin = #0077B5
cGithub = #6e5494