html
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
body
  // font-family 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-tap-highlight-color transparent
  -webkit-text-size-adjust none
  outline none
  -webkit-appearance none
div, nav, footer, section, article, h1, h2, h3, h4, h5, aside, figure, footer, header, main
  box-sizing border-box
textarea, input[type='password'], input[type='text']
  resize none /* 禁用可缩放 */
  outline none /* 禁用发光效果 */
  -webkit-appearance none /* 禁用增加外观效果 */
  white-space pre-wrap
  -webkit-tap-highlight-color transparent
  -webkit-overflow-scrolling touch
.ellipsis
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
.image
  text-align center
.image-logo
  animation image-logo-spin infinite 20s linear
  height 80px
.image-header
  background-color #222
  height 150px
  padding 20px
  color white
.image-title
  font-size 1.5em
.image-intro
  font-size large
@keyframes image-logo-spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)
.app-header
  position fixed
  top 0
  left 0
  right 0
  height hAppHeader
  z-index zAppHeader
  background-color cIorange
.app-footer
  position fixed
  left 0
  right 0
  bottom 0
  height hAppFooter
  z-index zAppFooter
  background-color cIorange