.screen
  min-height 100vh
  padding-top hAppHeader
  padding-bottom hAppFooter
  .screen__content
    width 90%
    margin 0 auto
.screen-home
  background-color cIgreen
.screen-about, .screen-pagination
  background-color rgb(240, 98, 146)
.virtualized-list__window
  flex 1 1 auto
.virtualized-list__simple
  height 800px
.virtualized-list-item
  border 1px solid black
  .image
    position absolute
    height 58px
    left 0
    top 0
    width 60px
    background-color blue
  .content
    margin-left 60px
