// add this to the classList of target dom
for ts in (2 .. 15)
  .trans-{ts}
    transition-property all
    transition-duration (ts / 10) s
    transition-timing-function ease
// types = fade, slideRight, slideLeft, slideDown, slideUp, zoomIn
// typesInOnly = slideRight
// for t in types
// .{t}-enter, .{t}-leave-active
// opacity 0
.fade-enter, .fade-leave-active
  opacity 0
  z-index 1
.fade-enter-active
  opacity 1
  transition opacity 250ms ease-in
.slideRight-enter, .slideRight-leave
  opacity 0
  transform translateX(5%)
.slideRight-in-enter
  opacity 0
  transform translateX(25%)
.slideLeft-enter, .slideLeft-leave
  opacity 0
  transform translateX(-5%)
.slideDown-enter, .slideDown-leave
  opacity 0
  transform translateY(100%)
.slideUp-enter, .slideUp-leave
  opacity 0
  transform translateY(-100%)
.zoomInSmall-enter, .zoomInSmall-leave
  transform scale(0.8)
.zoomInBig-enter, .zoomInBig-leave
  transform scale(1.2)
